extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    each gameDisplayData in gameDisplayDatas
      li: a(href="/play/" + playerid + "/" + gameDisplayData.gameId) Continue Game with teams: #{gameDisplayData.teamNames.join(" vs. ")}
